<div class="panel panel-default">
<div class="panel-heading">Choose Machine</div>
<div class="panel-body">
  <div ng-if="!printers || !printers.length">No printers available</div>
  <table class="table table-striped" ng-if="printers.length > 0">
    <thead>
      <tr>
        <th>Printer code
        <th>Status
        <th>Started
        <th>Operator
        <th>Roll tag
        <th>Process summary
        <th>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="machine in printers">
        <td>{{machine.code}}
        <td>{{machine.currentProcessId ? 'In use' : 'Available'}}
        <td>{{machine.process.dateStarted | date: 'MMM-dd-yy hh:mm a'}}
        <td>{{machine.process.actor.name | name}}
        <td>{{machine.process.rollIn.tag}}
        <td>{{machine.process.id}}
        <td>
          <div ng-if="!machine.currentProcessId">
            <button ng-click="useMachine(machine)" class="btn btn-primary">Start printing process</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>