<div class="panel panel-default">
<div class="panel-heading">Choose Machine</div>
<div class="panel-body">
  <div ng-if="!cutters || !cutters.length">No cutters available</div>
  <table class="table table-striped" ng-if="cutters.length > 0">
    <thead>
      <tr>
        <th>Cutter code
        <th>Status
        <th>Started
        <th>Operator
        <th>Roll tag
        <th>Process summary
        <th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="machine in cutters">
        <td>{{machine.code}}
        <td>{{machine.currentProcessId ? 'In use' : 'Available'}}
        <td>{{machine.process.dateStarted | date: 'MMM-dd-yy hh:mm a'}}
        <td>{{machine.process.actor.name | name}}
        <td>{{machine.process.rollIn.tag}}
        <td><a ui-sref="cutter_summary({processId:machine.process.id})" target="_blank">{{machine.process.id}}</a>
        <td>
          <div ng-if="!machine.currentProcessId">
            <button ng-click="useMachine(machine)" class="btn btn-primary">Start cutting process</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>