<div class="panel panel-info">
  <div class="panel-heading">Cutting End Process</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Started by Operator
      <dd>{{process.actor.name|name}}
      <dt>Date started
      <dd>{{process.dateStarted|date}}
      <dt>Machine
      <dd>{{process.machine.code}}
      <dt>Work Order(s)
      <dd>{{process.workOrder.trackingNo}}
      <dt>Materials In
      <dd>
        <span ng-if="!process.rollIn">No materials to be added</span>
        <span ng-if="process.rollIn">{{process.rollIn.material.name}} - {{process.rollIn.quantity}} {{process.rollIn.material.unitOfMeasurement ? process.rollIn.material.unitOfMeasurement : ''}} ({{process.rollIn.tag}})</span>
      </dd>
      <dt>Remarks
      <dd>{{process.remarks}}
    </dl>
    <dl class="dl-horizontal">
      <dt>Ended by Operator
      <dd>{{process.endActor.name|name}}
      <dt>Date completed
      <dd>{{process.dateCompleted|date}}
      <dt>Quantity Produced
      <dd>{{process.productOut}}
      <dt>Process Status
      <dd>{{processStatus()}}
    </dl>
    <!-- Uncomment to debug
    <dl>
      <dt>Process
      <dd>{{process}}
    </dl>
    -->
    <div class="text-right">
      <button ng-click="close()" class="btn btn-default">Done</button>
    </div>
  </div>
</div>

<ui-view></ui-view>
