<div class="panel panel-info">
  <div class="panel-heading">Mixer End Process - Stage Extrusion Processes</div>
  <div class="panel-body">
    {{extrusions}}
    <form name="stageExtrusionForm" ng-submit="stageExtrusions(stageExtrusionForm.$valid)">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="extruder in extruders | filter:{currentProcess: '!'}">
            <td>{{extruder.code}}</td>
            <td ng-if="extrusions[extruder.code]"><input type="number" ng-model="extrusions[extruder.code].quantity" /></td>
            <td ng-if="!extrusions[extruder.code]">
              <button class="btn btn-primary btn-xs" ng-click="stageExtrusionProcess(extruder)">Stage to this machine</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <input type="submit" value="Stage Extrusion Processes" class="btn btn-success" />
      </div>
    </form>
  </div>
</div>
