<div class="panel panel-info">
  <div class="panel-heading">Mixer End Process - Stage Extrusion Processes</div>
  <div class="panel-body">
    <form name="stageExtrusionForm" ng-submit="stageExtrusions(stageExtrusionForm.$valid)">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Quantity</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="extruder in extruders">
            <td>
              {{extruder.code}}
              <small class="label label-warning" ng-if="extruder.currentProcessId">In use</small>
            </td>
            <td ng-if="extrusions[extruder.code]">
              <div class="input-group">
                <input type="number" ng-model="extrusions[extruder.code].materialsIn[0].quantity" class="form-control" />
                <span ng-if="process.materialsOut[0] && process.materialsOut[0].material.unitOfMeasurement" class="input-group-addon">{{process.materialsOut[0].material.unitOfMeasurement}}</span>
              </div>
            </td>
            <td ng-if="!extrusions[extruder.code]">
              <button class="btn btn-primary btn-xs" ng-click="stageExtrusionProcess(extruder)">Stage to this machine</button>
            </td>
            <td>
              <span ng-if="!extrusions[extruder.code].id">New</span>
              <span ng-if="extrusions[extruder.code].id">Staged</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <input type="submit" value="Stage Extrusion Processes" class="btn btn-success" />
      </div>
    </form>
  </div>
</div>
