<div class="panel panel-info">
  <div class="panel-heading">Printer</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Operator
      <dd>{{process.actor.name|name}}
      <dt>Machine
      <dd>{{process.machine.code}}
      <dt>Work Order(s)
      <dd>{{process.workOrder.trackingNo}}
      <dt>Materials In
      <dd>
        <span ng-if="!process.rollIn">No materials to be added</span>
        <span ng-if="process.rollIn">{{process.rollIn.material.name}} - {{process.rollIn.quantity}} {{process.rollIn.material.unitOfMeasurement ? process.rollIn.material.unitOfMeasurement : ''}} ({{process.rollIn.tag}})</span>
      </dd>
      <dt><a ui-sref="printer.start.additional">Remarks</a>
      <dd>{{process.remarks}}
      <dt>Status
      <dd>{{processStatus()}}
    </dl>
    <dl>
      <dt>Process
      <dd>{{process}}
    </dl>
    <div ng-if="processStatus() === 'Complete'" class="text-right">
      <button ng-click="saveProcess()" class="btn btn-primary">Create Process</button>
    </div>
  </div>
</div>

<ui-view></ui-view>