<h3>Attach Warehouse Process</h3>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">Creating warehouse process for Work Order with Tracking No. <strong>{{trackingNo}}</strong></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Tracking No
          <dd>{{trackingNo}}
          <dt>Process Type
          <dd>Warehouse
          <dt>Process Info
          <dd>{{process.id ? 'This is an existing process.' : 'This is a new process and will be created.'}}
        </dl>
        <dl ng-if="$scope.process.id" class="dl-horizontal">
          <dt>Process ID
          <dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Add Raw Materials</div>
      <div class="panel-body">
        <div class="col-sm-6">
          <form name="rawMaterialForm">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <select ng-options="material as material.name for material in materials" ng-model="material" class="form-control" required></select>
                </div>
                <div class="col-sm-3">
                  <input type="number" ng-model="quantity" min="0.1" class="form-control" step="any" required />
                  <span ng-if="material && material.unitOfMeasurement">{{material.unitOfMeasurement}}</span>
                </div>
                <div class="col-sm-3">
                  <button ng-click="addMaterial()" class="btn btn-primary">Add material</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          <div ng-if="process.materialStacks.length === 0" class="alert alert-info text-center">
            No materials added
          </div>
          <table ng-if="process.materialStacks.length > 0" class="table table-striped">
            <thead>
              <tr>
                <th>Material
                <th>Quantity
                <th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="materialStack in process.materialStacks">
                <td>{{materialStack.material.name}}
                <td>{{materialStack.quantity}} {{materialStack.material.unitOfMeasurement? materialStack.material.unitOfMeasurement : ''}}
                <td><i class="glyphicon glyphicon-remove"></i>
              </tr>
            </tbody>
          </table>
          <button ng-click="saveProcess()" ng-if="process.materialStacks.length > 0" ng-disabled="!dirty" class="btn btn-success form-control">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>