<h3>Work Order Operations</h3>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">Managing work order with Tracking No. <strong>{{workOrder.trackingNo}}</strong></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Tracking No
          <dd>{{workOrder.trackingNo}}
          <dt>Quantity
          <dd>{{workOrder.quantity}}
          <dt>Status
          <dd>{{workOrder.status}}
          <dt>Created
          <dd>{{workOrder.dateCreated|date:'yyyy-MMM-dd hh:mm a'}}
          <dt>Completed
          <dd ng-if="workOrder.dateCompleted">{{workOrder.dateCompleted|date:'yyyy-MMM-dd hh:mm a'}}
          <dd ng-if="!workOrder.dateCompleted">Work order still open
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Order items</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <td>ID
              <td>Product
              <td>Quantity
            </td>
          </thead>
          <tbody>
            <tr ng-repeat="orderItem in orderItems">
              <td>{{orderItem.id}}
              <td>{{orderItem.product.name}}
              <td>{{orderItem.quantity}}
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Material balance -->
      <div class="panel-heading">Materials</div>
      <div class="panel-body">
        <div class="pull-right">
          <a  class="btn btn-default btn-xs" ui-sref="warehouse_process({trackingNo:workOrder.trackingNo, processId:-1})">
            Withdraw materials from warehouse
          </a>
        </div>
        <div ng-if="!materials || materials.length === 0">
          No materials are available to this work order.
        </div>
        <div ng-if="materials && materials.length > 0">
          <table class="table">
            <thead>
              <tr>
                <td>Name
                <td>Quantity Withdrawn
                <td>Consumed
                <td>Remaining
                <td>Source
                <td>
              </tr>
            </thead>
            <tbody>
              <!-- MaterialBalanceStackInfo -->
              <tr ng-repeat="materialBalanceStack in materials">
                <td>{{materialBalanceStack.material.name}}
                <td>{{materialBalanceStack.quantityWithdrawn}}
                <td>{{materialBalanceStack.quantityConsumed}}
                <td>{{materialBalanceStack.quantityRemaining}}
                <td>{{materialBalanceStack.source}}
                <td>
                  <div ng-switch="materialBalanceStack.source">
                    <a ng-switch-when="RAW" class="btn btn-primary btn-xs" 
                      ui-sref="mixing_process({trackingNo:workOrder.trackingNo, processId:-1})">
                      Start mixing process
                    </a>
                    <span ng-switch-default>Unhandled material source: {{materialBalanceStack.source}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <!-- Processes -->
      <div class="panel-heading">Processes</div>
      <div class="panel-body">
        <div ng-if="!processes || processes.length === 0">
          No processes attached to this work order.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <a ng-if="!params.orderItem && !params.salesOrder" ui-sref="workorders" class="btn btn-default">Done</a>
    </div>
  </div>
</div>
