<div class="panel panel-info">
  <div class="panel-heading">Mixer</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><a ui-sref="mixer.identity">Operator</a>
      <dd>{{process.actor.name|name}}
      <dt><a ui-sref="mixer.machine">Machine</a>
      <dd>{{process.machine.code}}
      <dt><a ui-sref="mixer.start.workorder">Work Order(s)</a>
      <dd>{{process.workOrders|commaJoin: 'trackingNo'}}
      <dt><a ui-sref="mixer.start.materials">Materials In</a>
      <dd>
        <span ng-if="!process.materialsIn.length">No materials to be added</span>
        <span ng-if="process.materialsIn.length">
          <span ng-repeat="rawMaterialStack in process.materialsIn">{{rawMaterialStack.material.name}} - {{rawMaterialStack.quantity}} {{rawMaterialStack.material.unitOfMeasurement}}{{$last ? '': ', '}}</span>
        </span>
      </dd>
      <dt><a ui-sref="mixer.start.additional">Remarks</a>
      <dd>{{process.remarks}}
    </dl>
    <div ng-if="processStatus() === 'Complete'" class="text-right">
      <button ng-click="saveProcess()" ng-disabled="processing" class="btn btn-primary">Create Process</button>
    </div>
  </div>
</div>

<ui-view></ui-view>