<table ng-table="tableParams" show-filter="true" class="table table-striped">
  <thead>
    <tr>
      <th>Username
      <th>Code
      <th>Name
      <th>Type
      <th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in $data">
      <td>{{user.username}}
      <td filter="{ 'code': 'P0001' }">{{user.code}}
      <td>{{user.name|name}}
      <td>{{user.type}}
      <td><span ng-click="editUser(user)" class="btn btn-default">Edit</span>
    </tr>
    <tr ng-if="!$data.length">
      <td colspan="4">No users available</td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <button ng-click="createNew()" class="btn btn-success">Create New User</button>
</div>