<div class="panel panel-default">
<div class="panel-heading">Additional Information</div>
<div class="panel-body">
  <form ng-submit="setAdditionalDetails()" class="form form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Withdrawal date</label>
      <div class="col-sm-4">
        <quick-datepicker ng-model="additionalInfo.dateStarted"></quick-datepicker>
      </div>
    </div>
    <div class="text-right">
      <input type="submit" value="Save" class="btn btn-success" />
    </div>
  </form>
</div>
</div>