<div class="panel panel-info">
  <div class="panel-heading">Warehouse Process <br />
    <small ng-style="processStatus() === 'Complete' ? {color: 'green'} : {color: 'red'}">{{processStatus()}}</small>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><a ui-sref="warehouse.workorder">Work Order</a>
      <dd>{{process.workOrder.trackingNo}}
      <dt><a ui-sref="warehouse.identity">Operator</a>
      <dd>{{process.actor.name|name}}
      <dt><a ui-sref="warehouse.materials">Materials to Withdraw</a>
      <dd>
        <span ng-if="!process.materialStacks.length">No materials to withdraw</span>
        <span ng-if="process.materialStacks.length">
          <span ng-repeat="rawMaterialStack in process.materialStacks">{{rawMaterialStack.material.name}} - {{rawMaterialStack.quantity}} {{rawMaterialStack.material.unitOfMeasurement}}{{$last ? '': ', '}}</span>
        </span>
      </dd>
      <!-- 
      <dt><a ui-sref="warehouse.additional">Withdrawal Date</a>
      <dd>{{process.dateStarted|date: 'MMM-dd-yyyy hh:mm'}}
      -->
      <dt><a ui-sref="warehouse.additional">Remarks</a>
      <dd>{{process.remarks}}
    </dl>
    <div ng-if="processStatus() === 'Complete'" class="text-right">
      <button ng-click="saveProcess()" class="btn btn-primary">Create Process</button>
    </div>
  </div>
</div>

<ui-view></ui-view>