<h3>Manage Order Item</h3>

<div ng-if="orderItem.workOrder">
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">Viewing Details for Order Item with ID <strong>{{orderItem.id}}</strong></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Product
          <dd>{{orderItem.product.name}}
          <dt>Product description
          <dd>{{orderItem.product.description}}
          <dt>Quantity
          <dd>{{orderItem.quantity}}
        </dl>
        <dl class="dl-horizontal">
          <dt>Work Order Tracker
          <dd><a ui-sref="manage/workorder({trackingNo:orderItem.workOrder.trackingNo, orderItem:orderItem.id, salesOrder:params.salesOrder})">{{orderItem.workOrder.trackingNo}}</a>
          <dt>Work Order Quantity
          <dd>{{orderItem.workOrder.quantity}}
          <dt>Date created
          <dd>{{orderItem.workOrder.dateCreated|date:'yyyy-MMM-dd hh:mm a'}}
          <dt>Status
          <dd>{{orderItem.workOrder.status}}
          <dt>Attached orders
          <dd ng-if="attached.length > 0">
            <ul class="list-inline">
              <li ng-repeat="attachedOrder in attached">
                <a ui-sref="manage/orderitem({id:attachedOrder.id})">{{attachedOrder.id}}</a>
              </li>
            </ul>
          </dd>
          <dd ng-if="attached.length === 0">
            No other orders attached to this work order
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>

<div ng-if="!orderItem.workOrder" class="row">
<div class="row">
  <div class="col-sm-12">
    <div class="tab-container">
      <tabset>
        <!-- New WO tab -->
        <tab>
          <tab-heading class="pointer">Create new Work Order</tab-heading>
          <div class="col-sm-8" style="margin-top: 20px;">
            <form ng-submit="createNew()" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Product</label>
                <div class="col-sm-8">
                  <p class="form-control-static">{{orderItem.product.name}}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Invoice Quantity</label>
                <div class="col-sm-8">
                  <p class="form-control-static">{{orderItem.quantity}}</p>
                </div>
              </div>
              <div class="form-group">
                <label for="workorder-quantity" class="col-sm-4 control-label">Quantity</label>
                <div class="col-sm-8">
                  <input type="number" 
                    required
                    ng-model="workOrder.quantity" 
                    id="workorder-quantity" class="form-control"
                    min="1">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                  <input type="submit" value="Create Work Order" class="form-control btn btn-primary" />
                </div>
              </div>
            </form>
          </div>
        </tab>
  
        <!-- Attach WO tab -->
        <tab disabled="attachables.length === 0">
          <tab-heading class="pointer">Attach to existing Work Order</tab-heading>
          <div class="col-sm-4" style="margin-top: 20px;">
            <form ng-submit="attach()" class="form">
              <div class="form-group">
                <label>Tracking No.</label>
                <select ng-model="workOrder.trackingNo" 
                  ng-options="workOrder.trackingNo as workOrder.trackingNo for workOrder in attachables"
                  class="form-control"></select>
              </div>
              <div class="form-group">
                <input type="submit" value="Attach" class="form-control btn btn-primary" />
              </div>
            </form>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <a ng-if="params.salesOrder" ui-sref="manage/salesorder/workorders({trackingNo:params.salesOrder})" class="btn btn-default">Back to Sales Order</a>
    </div>
  </div>
</div>