<h3>Manage Work Orders</h3>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">Managing work orders for sales order with Tracking No. <strong>{{salesorder.trackingNo}}</strong></div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Tracking No.
          <dd>{{salesorder.trackingNo}}
          <dt>Customer
          <dd>{{salesorder.customer.name | name}}
          <dt>Ship to
          <dd>{{salesorder.shipTo}}
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Product name
          <td>Description
          <td>Invoice quantity
          <td>Order item details
          <td>Work order
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="orderItem in salesorder.orderItems">
          <td>{{orderItem.product.name}}
          <td>{{orderItem.product.description}}
          <td>{{orderItem.quantity}}
          <td><span ui-sref="manage/orderitem({id:orderItem.id, salesOrder:salesorder.trackingNo})" class="btn btn-xs btn-primary">View details</span>
          <td>
            <a ng-if="!orderItem.workOrder" ui-sref="manage/orderitem({id:orderItem.id, salesOrder:salesorder.trackingNo})" 
              class="btn btn-xs btn-primary">Create work order</a>
            <a ng-if="orderItem.workOrder" ui-sref="manage/workorder({trackingNo:orderItem.workOrder.trackingNo, salesOrder:salesorder.trackingNo})">{{orderItem.workOrder.trackingNo}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <a ui-sref="manage/salesorder" class="btn btn-default">Back to Sales Order List</a>
    </div>
  </div>
</div>