<h2>Work Order</h2>

<dl>
  <dt>Tracking No
  <dd>{{workOrder.trackingNo}}

  <dt>Quantity
  <dd>{{workOrder.quantity}}

  <dt>Status
  <dd>{{workOrder.status}}

  <dt>Date and Time Created
  <dd>{{workOrder.dateCreated|date:'yyyy-MMM-dd hh:mm a'}}
  
  <dt>Date and Time Completed
  <dd>{{workOrder.dateCompleted|date:'yyyy-MMM-dd hh:mm a'}}
</dl>

<h2>Order items</h2>
<table>
  <thead>
    <tr>
      <td>ID
      <td>Product
      <td>Quantity
    </td>
  </thead>
  <tbody>
    <tr ng-repeat="orderItem in orderItems">
      <td>{{orderItem.id}}
      <td>{{orderItem.product.name}}
      <td>{{orderItem.quantity}}
    </tr>
  </tbody>
</table>

<div class="row">
  <button class="btn btn-danger" ng-click="closeWorkOrder()" 
    ng-disabled="workOrder.status == 'CLOSED'">Close Work Order</button>
  <a ui-sref="manage/workorders" class="btn btn-default">Done</a>
</div>
