<div class="panel panel-default">
<div class="panel-heading">Choose Materials</div>
<div class="panel-body">
  <div ng-if="!materials || materials.length == 0">No materials available</div>
  <div ng-if="materials.length">
    <div class="col-sm-7">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="col-sm-5">
            <select 
              ng-options="materialIn as namePlusMax(materialIn) for materialIn in materials track by materialIn.material.id | filter:{source:'MIXING'}" 
              ng-model="toAdd.materialIn"
              class="form-control" required></select>
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="number"
                ng-model="toAdd.quantity" min="0.1" step="any"
                class="form-control" />
              <span ng-if="toAdd.materialIn.material.unitOfMeasurement" class="input-group-addon">{{toAdd.materialIn.material.unitOfMeasurement}}</span>
            </div>
          </div>
          <div class="col-sm-3">
            <button ng-click="addMaterialIn()" class="btn btn-primary">Add material in</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div ng-if="materialsIn.length === 0" class="alert alert-info text-center">
        No materials to add
      </div>
      <table ng-if="materialsIn.length > 0" class="table table-striped">
        <thead>
          <tr>
            <th>Material
            <th>Quantity
            <th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="materialIn in materialsIn">
            <td>{{materialIn.material.name}}
            <td>{{materialIn.quantity}} {{materialIn.material.unitOfMeasurement? materialIn.material.unitOfMeasurement : ''}}
            <td><a ng-click="remove(materialIn)" href="javascript:;"><i class="glyphicon glyphicon-remove"></i></a>
          </tr>
        </tbody>
      </table>
      <button ng-click="setMaterials()" ng-disabled="!materialsIn.length" class="btn btn-success form-control">Save</button>
    </div>
  </div>
</div>
</div>