<div class="panel panel-default">
  <div class="panel-heading">Choose Workorder</div>
  <div class="panel-body">
    <div class="row">
      <table ng-table="tableParams" show-filter="true" class="table table-striped" >
        <caption><strong>Available Work Orders</strong></caption>
        <thead>
          <tr>
            <td>Tracking No.
            <td>Orders
            <td>Workorder Quantity
            <td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="workOrder in $data">
            <td>{{workOrder.trackingNo}}
            <td>
              <div ng-repeat="orderItem in workOrder.orderItems">{{orderItem.product.name}} ({{orderItem.quantity}})</div>
            </td>
            <td>{{workOrder.quantity}}
            <td>
              <button ng-click="useWorkorder(workOrder)" class="btn btn-xs btn-success">
                Select <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>