<script src="/lib/barcode-jquery/jquery-barcode.min.js"></script>

<div class="panel panel-info">
  <div class="panel-heading">Extrusion End Process</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Started by Operator
      <dd>{{process.actor.name|name}}
      <dt>Machine
      <dd>{{process.machine.code}}
      <dt>Product(s)
      <dd><span ng-repeat="orderItem in process.workOrder.orderItems">{{orderItem.product.description}}{{$last ? '' : ', '}}</span>
      <dt>Work Order(s)
      <dd>{{process.workOrder.trackingNo}}
      <!-- 
      <dt>Materials In
      <dd>
        <span ng-if="!process.materialsIn.length">No materials to added</span>
        <span ng-if="process.materialsIn.length">
          <span ng-repeat="rawMaterialStack in process.materialsIn">{{rawMaterialStack.material.name}} - {{rawMaterialStack.quantity}} {{rawMaterialStack.material.unitOfMeasurement}}{{$last ? '': ', '}}</span>
        </span>
      </dd>
      -->
    </dl>
    <dl class="dl-horizontal">
      <dt><a ui-sref="extruder.identity">Ended by Operator</a>
      <dd>{{process.endActor.name|name}}
      <dt>Date completed
      <dd>{{process.dateCompleted|date}}
      <dt>Process duration
      <dd>{{process.turnaroundTime}}
      <dt><a ui-sref="extruder.end.materials">Materials Out</a>
      <dd>
        <span ng-if="!process.materialsOut.length">No output materials specified</span>
        <span ng-if="process.materialsOut.length">
          <span ng-repeat="processMaterialStack in process.materialsOut">{{processMaterialStack.material.name}}({{processMaterialStack.tag ? processMaterialStack.tag : 'Untagged'}}) - {{processMaterialStack.quantity}} {{processMaterialStack.material.unitOfMeasurement}}{{$last ? '': ', '}}</span>
        </span>
      </dd>
      <dt>Remarks
      <dd>{{process.remarks}}
      <dt>Process Status
      <dd>{{processStatus()}}
      <dt>Code
      <dd><div id="scannable-code">No output code generated</div></dd>
    </dl>
    <!-- 
    <dl>
      <dt>Process
      <dd>{{process}}
    </dl>
    -->
    <div ng-if="processStatus() != 'Complete' && processStatus() != 'Completed'" class="text-right">
      <button ui-sref="extruder.identity" class="btn btn-default">Cancel</button>
    </div>
    <div ng-if="processStatus() === 'Complete'" class="text-right">
      <button ng-click="confirmEnd()" class="btn btn-primary">End Process</button>
      <button ng-click="confirmUnload()" class="btn btn-primary">Unload roll</button>
      <!-- 
      <button ng-click="makeBarcode()" class="btn">Make barcode</button>
      -->
      <button ui-sref="extruder.identity" class="btn btn-default">Cancel</button>
    </div>
    <div ng-if="processStatus() === 'Completed'" class="text-right">
      <button ng-click="directPrintTags()" class="btn btn-success">Print Tags</button>
      <button ui-sref="extruder.identity" class="btn btn-default">Done</button>
    </div>
  </div>
</div>

<ui-view></ui-view>