<div class="panel panel-info">
  <div class="panel-heading">Cutting End Process</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Started by Operator
      <dd>{{process.actor.name|name}}
      <dt>Date started
      <dd>{{process.dateStarted|date}}
      <dt>Machine
      <dd>{{process.machine.code}}
      <dt>Work Order(s)
      <dd>{{process.workOrder.trackingNo}}
      <dt>Materials In
      <dd>
        <span ng-if="!process.rollIn">No materials to be added</span>
        <span ng-if="process.rollIn">{{process.rollIn.material.name}} - {{process.rollIn.quantity}} {{process.rollIn.material.unitOfMeasurement ? process.rollIn.material.unitOfMeasurement : ''}} ({{process.rollIn.tag}})</span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><a ui-sref="cutter.identity">Ended by Operator</a>
      <dd>{{process.endActor.name|name}}
      <dt>Date completed
      <dd>{{process.dateCompleted|date}}
      <dt>Quantity Produced
      <dd>{{process.productOut}}
      <dt>Remarks
      <dd>{{process.remarks}}
      <dt>Process Status
      <dd>{{processStatus()}}
    </dl>
    <!-- 
    <dl>
      <dt>Process
      <dd>{{process}}
    </dl>
    -->
    <div ng-if="processStatus() != 'Complete' && processStatus() != 'Completed'" class="text-right">
      <button ui-sref="cutter.identity" class="btn btn-default">Cancel</button>
      <span class="btn btn-default" ng-if="!process.paused" ng-disabled="processing" ng-click="pause()">Pause</span>
      <span class="btn btn-primary" ng-if="process.paused" ng-disabled="processing" ng-click="resume()" ng-disabled="process.machine.currentProcessId">
        <span ng-if="!process.machine.currentProcessId">Resume</span>
        <span ng-if="process.machine.currentProcessId">Machine is in use by another process</span>
      </span>
    </div>
    <div ng-if="processStatus() === 'Complete'" class="text-right">
      <button ng-click="confirmEnd()" ng-disabled="processing" class="btn btn-primary" ng-disabled="process.paused">End Process</button>
      <button ui-sref="cutter.identity" class="btn btn-default">Cancel</button>
    </div>
    <div ng-if="processStatus() === 'Completed'" class="text-right">
      <button ui-sref="cutter.identity" class="btn btn-default">Done</button>
    </div>
  </div>
</div>

<ui-view></ui-view>
