<div class="panel panel-default">
<div class="panel-heading">Choose Machine</div>
<div class="panel-body">
  <div ng-if="!machines || machines.length == 0">No machines available</div>
  <table class="table table-striped" ng-if="machines.length > 0">
    <thead>
      <tr>
        <th>Machine
        <th>Status
        <th>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="machine in machines">
        <td>{{machine.code}}
        <td>{{machine.currentProcessId ? 'In use' : 'Available'}}
        <td>
          <button ng-click="useMachine(machine)" ng-if="!machine.currentProcessId" class="btn btn-primary">Start mixing process</a>
          <button ui-sref="mixerend.materials({processId: machine.currentProcessId})" ng-if="machine.currentProcessId" class="btn btn-success">End process {{machine.currentProcessId}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>